@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open Sans/static/OpenSans-Regular.ttf");
    font-weight: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    background-image:linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url("./coffee.png");
    background-size: cover;
    font-family: "Open Sans";
}

nav, .links, #menu-content {
    display: flex;
    align-items: center;
}

/* header section */
header {
    padding: 1.4rem;
}

nav {
    justify-content: space-between;
}

.links {
    gap: .8rem;
}

.logo div {
    font-size: 3rem;
    font-family: "Dancing Script", sans-serif;
    color: #fff;
    transition: 1s ease;
}

nav button {
    width: 4.6rem;
    height: 1.5rem;
    text-transform: capitalize;
    font-size: 1.2rem;  
    background-color: transparent;
    border: none;
    border-radius: .8rem;
    border-bottom: 3px solid transparent;   
    color: #fff;   
    transition: .5s ease;
}

nav button:hover {
    border-bottom: 3px solid #A67B5B;      
}

.logo div:hover, nav button:hover {
    color: #A67B5B;
    cursor: pointer;
}

/* Main content section */
#content > div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    color: #f1f2f3;
}

/* Home tab styles */

.ad  #ad-heading {
    font-size: 1.7rem;
}

.ad p, #days li {
    font-size: 1.125rem;
}

#ad-heading, .ad p {
    padding-left: 1rem;
}

.side {
    grid-column: 2 / 3;
    padding-right: 1rem;
}

.info-heading {
    font-size: 1.7rem;
}

.sub-heading {
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
}

#days {
    list-style-type: none;
}

#days li {
    padding-bottom: .5rem;
}

#days, #location-content  {
    margin-left: 3rem;
}

.ad p {
    margin-left: 2rem;
}

#slogan {
    font-size: 1.5rem;
    margin-top: 2rem;
}

/* Menu tab styles */

#menu-content {
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem;
    width: 40%;
}

#menu-header {
    margin-top: 3rem;
    font-size: 2.4rem;
}

#menu-list {
    list-style-type: none;
}

.menu-item {
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

.scroll {
    align-self: center;
    font-size: 2rem;
    border: 1px solid #8c8c8c;
    transition: .8s ease;
}

.scroll:hover {
    cursor: pointer;
    background-color: #A67B5B;
}

#indicators {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.indicator {
    background-color: #fff;
    width: .5rem;
    height: .5rem;
    border-radius: 6.25rem;
}


/* Contact tab styles */